:root {
    --main-white: #ededed;
    --main-background-color: #181818;
    --tech-stack-background-color: rgba(255, 255, 255, 0.1);
    --description-light-grey: #999;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

body {
    background-color: var(--main-background-color);
    color: var(--main-white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar a.comic {
    color: green;
    font-weight: 700;
    border: 2px solid green;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.navbar a.comic:hover {
    background-color: green;
    color: var(--main-background-color);
}

.home {
    height: 100vh;
    padding-top: 60px;
    display: flex;
    color: var(--main-white);
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
    padding: 4%;
    overflow: hidden;
    margin-right: 2%;
}

.home-content h1 {
   font-size: 56px;
   font-weight: 700;
   margin-bottom: 1%;
   line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: green;
    margin-top: 0.5%;
    line-height: 1.2;
}

.tech-stack {
    display: inline-block;
    background-color: var(--tech-stack-background-color);
    border: 1px transparent;
    padding: 2.5%;
    border-radius: 8px;
    margin-bottom: 1.5%;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.tech-stack:hover {
    background-color: var(--main-white);
    transform: scale(1.05);
}

.tech-stack:hover p {
    color: var(--main-background-color);
}

.tech-stack p {
    margin: 2px;
    font-size: 18px;
    color: var(--main-white);
}

.home-content p {
    font-size: 20px;
    text-align: justify;
}

.home-gif {
    margin-left: 2%;
    padding: 2%;
    display: flex;
    align-items: center;
}

.home-gif img {
    max-width: 100%;
    height: 50vh;
    border-radius: 8px;
    width: 70vw;
}

.education, .portfolio {
    padding: 0 13%;
    height: 60vh;
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.education {
    margin-top: -6%;
}

.contact {
    padding: 0 13%;
    height: 45vh;
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.portfolio h2, .contact h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 1%;
    text-align: left;
    width: 100%
}

.portfolio p, .contact p {
    font-size: 20px;
    text-align: justify;
    padding: 0;
    margin: 0;
    width: 100%;
}

.portfolio p {
    margin-bottom: 2%;
}

.education-column {
    flex: 1 1 48%;
}

.education h2 {
    width: 100%;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 2%;
    text-align: left;
}

.education h3 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 1%;
}

.education p {
    font-size: 20px;
    text-align: justify;
    padding: 0;
    margin: 0 0 1% 0;
    word-wrap: break-word;
}

#year {
    font-size: 16px;
}

.portfolio ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    column-count: 2;
    column-gap: 40px;
}

.portfolio ul li {
    font-size: 18px;
    margin-bottom: 1%;
}

.portfolio ul li a {
    color: var(--main-white);
    text-decoration: none;
}

.project {
    width: calc(50% - 20px);
    margin-bottom: 40px;
}

.project a {
    color: var(--main-white);
    text-decoration: none;
    transition: text-decoration 0.3s;
}

.project a:hover {
    text-decoration: underline;
}

.project time {
    display: block;
    font-size: 18px;
    margin-bottom: 0.5%;
    color: green;
}

.project p {
    font-size: 16px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.description {
    color: var(--description-light-grey);
}

.project {
    background-color: var(--tech-stack-background-color);
    border-radius: 12px;
    padding: 20px;
    overflow: hidden;
    transition: transform 0.3s;
}

.project:hover {
    transform: translateY(-5px);
}

.contact {
    margin-top: -1%;
}

.icon-links {
    width: 15%;
    display: flex;
    justify-content: space-between;
    bottom: 2%;
    padding-bottom: 6%;
    margin-top: 0.5%;
}

.icon-links a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid var(--main-white);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-white);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.icon-links a:hover {
    color: var(--main-background-color);
}

.icon-links a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-white);
    z-index: -1;
    transition: 0.5s;
}

.icon-links a:hover::before {
    width: 100%;
}
